Anypoint Studio/src/main/mule/mule_2.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config doc:id="fdc06c19-32f9-46d3-a3ee-c49453f37624" doc:name="HTTP Listener config" name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"></http:listener-connection>
    </http:listener-config>
    <http:request-config doc:id="720d6968-5d2c-40d2-88a0-45235fed2e61" doc:name="HTTP Request configuration" name="HTTP_Request_configuration"></http:request-config>
    <flow doc:id="c51c69b1-0e55-408d-ad78-5443dc2b94ef" name="mule_2Flow">
        <http:listener config-ref="HTTP_Listener_config" doc:id="a11630db-bc88-4735-84f0-917f08fa2fb1" doc:name="Listener" path="/api/firstflow"></http:listener>
        <ee:transform doc:id="dc449fea-7f0c-4abf-b5b5-dfaa048a0ac5" doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Hellow this is Transform component useed"]]></ee:set-payload>
                <ee:set-attributes><![CDATA[attributes.queryParams.name]]></ee:set-attributes>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="Ilyasse"><![CDATA[%dw 2.0
output application/json
---
"ilyasse :)"]]></ee:set-variable>
                <ee:set-variable variableName="younes"><![CDATA[%dw 2.0
output application/json
---
"Younes :("]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger doc:id="cb5914ed-129f-46ff-9edf-978bbc5fc6bf" doc:name="Logger" level="INFO" message="Recived request with variable: #[vars.myVar]"></logger>
        <http:request config-ref="HTTP_Request_configuration" doc:id="2ad2a4df-aee0-4bb9-9715-67e15eeb294c" doc:name="Request" method="GET" url="http://localhost:8081/api/secondflow"></http:request>
        <logger doc:id="18f8a81f-7c8d-45b7-9b7d-316d0763cade" doc:name="Logger" level="INFO" message="Response from second flow: #[payload]"></logger>
    </flow>
</mule>
